$primary: #0D6B6A;

$screen-small:576;
$screen-medium:768px;
$screen-large:992px;
$screen-extra-large:1200px;
$screen-extra-extra-large:1400px;
    
$font-family-base:"Montserrat";
$button-color: white;
$link-color:black;